@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@400;500;600;700&display=swap');


:root{
  --green: #1ec6b6;
  --light-grey: #f7f7f7;
  --dark: #0e1010;
  --trans: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.login {
  font-size: 1em;
  padding: 10px 15px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  background: #95902E;
  color: #FFF;
  cursor: pointer;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation_items a {
  position: relative;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation_items a:before {
  content: '';
  position: absolute;
  background: #000;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation_items a:hover:before {
  width: 100%;
}

.py-4 {
  padding: 4rem 0;
}

.py-4 img {
  width: 100%;
  display: block;
}

.title-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
  height: fit-content;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.title-wrap .back {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.1rem;
  left: 0;
  padding: 10px 10px;
  background: #95902E;
  color: #FFF;
  border-radius: 5px;
}

.title-wrap img {
  width: 30px;
  height: 30px;
}

.title-wrap a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  padding: 0px 200px;
}

.lg-title {
  font-size: 1.8rem;
  margin: auto;
}

.sm-title {
  display: block;
  color: #787878;
  font-weight: 500;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.7;
}

h4 {
  font-weight: 500;
}

.my-2 {
  margin: 1rem 0;
}

.shadow:hover {
  box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}

.featured-item{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.room-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}

.featured-item-content{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  -webkit-transform: translateY(68%);
      -ms-transform: translateY(68%);
          transform: translateY(68%);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.featured-item-content span{
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.featured-item-content .text{
  color: #fff;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.featured-item:hover .featured-item-content{
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.featured-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  row-gap: 0rem;
}

.room {
  text-align: center;
  background-image: "/img/M1.png";
}

.submit-room {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}